{% extends 'home/default.html.twig' %}

{% block body %}
<style>
.container {
    max-width: 400px;
    margin: 40px auto; /* Ajout de la marge */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



button.btn-primary {
    background-color: #007bff; /* Couleur bleue pour le bouton "Connexion" */
    color: #fff; /* Texte en blanc */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #0056b3; /* Couleur bleue foncée au survol */
}

.btn {
    background-color: #f0f0f0; /* Couleur de fond pour le bouton "Mot de passe oublié ?" */
    color: #333; /* Texte en noir */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc; /* Couleur de fond plus claire au survol */
    color: #000; /* Texte en noir */
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

</style>
<div class="container">
    <form action="{{ path('app_login') }}" method="post">
        <label for="mail">Email:</label>
        <input type="email" id="mail" name="mail" required>
        <label for="mdp">Mot de passe:</label>
        <input type="password" id="mdp" name="mdp" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary">Connexion</button>
        <a href="{{ path('forgot_password') }}" class="btn">Mot de passe oublié ?</a>
        <a href="{{ path('app_register') }}">Créer un compte</a>
    </form>
</div>
{% endblock %}
