{% extends 'home/default.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <h1>Password Reset</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form action="{{ path('reset_password') }}" method="post">
        <div class="form-group">
            <label for="code">Verification Code:</label>
            <input type="text" id="code" name="code" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
{% endblock %}
