<!DOCTYPE html>

<title>New Reservation</title>

{% block body %}
    <h1>Create new Reservation</h1>

    {{ include('resrvation/_form.html.twig') }}

    <a href="{{ path('app_resrvation_index') }}">back to list</a>
{% endblock %}
